[submodule "components/nanopb/nanopb"]
	path = components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "components/u8g2/u8g2"]
	path = components/u8g2/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/esp-idf-rc522"]
	path = components/esp-idf-rc522
	url = https://github.com/abobija/esp-idf-rc522.git
